<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Sample" connectionString="Server=.;Initial Catalog=SampleDB;Integrated Security=True;Connection Timeout=30;" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Sample" />
  </appSettings>
</configuration>
